<script lang="ts">
	import Slide from './slide.svelte'
	import Code from './code.svelte'
	import Markdown from './markdown.svelte' 
</script>

<Slide>Horizontal Slide</Slide>

<Slide>
	<Slide>Vertical Slide 1</Slide>
	<Slide>Vertical Slide 2</Slide>
</Slide>

<Slide animate>
	<ul>
		<li>Cengage</li>
		<li>Zybooks</li>
		<li>Runestone</li>
	</ul>
</Slide>

<Slide animate>
	<ul>
		<li>Zybooks</li>
		<li>Runestone</li>
		<li>💵 Cengage</li>
	</ul>
</Slide>

<Slide animate>
	<ul>
		<li>Runestone</li>
		<li>💵 Cengage</li>
		<li>💵 Zybooks</li>
	</ul>
</Slide>

<Slide animate>
	<ul>
		<li>❤️ Runestone</li>
		<li>💵 Cengage</li>
		<li>💵 Zybooks</li>
	</ul>
</Slide>

<Slide animate>
	<!-- <h1 style="margin-top: 0px color: blue;">Saving Money</h1> -->
	<p>Auto-Animate</p>
</Slide>
<Slide animate>
	<!-- <h1 style="margin-top: 100px color: red;">Saving Money!</h1> -->
	<p class="text-teal-400">Auto-Animate</p>
</Slide>


<Slide animate>
  <div data-id="box" class="w-[200px] bg-teal-400"></div>
</Slide>

<Slide animate>
  <div data-id="box" class="w-[400px] bg-red-400"></div>
</Slide>

<section>Thank You</section>


<Markdown>
	{`
		## Markdown ❤️
		You can use **HTML** or **Markdown** for slides.
	`}
</Markdown>

<Markdown name="default_slides.md" external />

<Slide animate>
	<Code id="code" lines>
		{`
			function love() {}
	 `}
	</Code>
</Slide>

<Slide animate>
	<Code id="code" lines="2|1-3">
		{`
			function love() {
				console.log('Svelte')
			}
	 `}
	</Code>
</Slide>

