<script lang="ts">
	import Slide from './slide.svelte'
	import Code from './code.svelte'
	import Markdown from './markdown.svelte' 
</script>

<Slide animate>
	<ul>
		<li>Cengage</li>
		<li>LibreTexts</li>
		<li>Zybooks</li>
		<li>Runestone</li>
	</ul>
</Slide>

<Slide animate>
	<ul>
		<li>Cengage</li>
		<li>Zybooks</li>
		<li>Runestone</li>
		<li>🪙 LibreTexts (free in CA)</li>
	</ul>
</Slide>

<Slide animate>
	<ul>
		<li>Zybooks</li>
		<li>Runestone</li>
		<li>🪙 LibreTexts (free in CA)</li>
		<li>💵 Cengage ($50-$100/student)</li>
	</ul>
</Slide>


<Slide animate>
	<ul>
		<li>Runestone</li>
		<li>🪙 LibreTexts (free in CA)</li>
		<li>💵 Cengage ($50-$100/student)</li>
		<li>💵 Zybooks ($65-$120/student + $250+/teacher)</li>
	</ul>
</Slide>

<Slide animate>
	<ul>
		<li>❤️ Runestone</li>
		<li>🪙 LibreTexts (free in CA)</li>
		<li>💵 Cengage ($50-$100/student)</li>
		<li>💵 Zybooks ($65-$120/student + $250+/teacher)</li>
	</ul>
</Slide>

<Markdown name="runestone_student_workflow.md" external />

<Markdown name="runestone_instructor_workflow.md" external />

<Slide animate>
	<!-- <h1 style="margin-top: 0px color: blue;">Saving Money</h1> -->
	<p>Auto-Animate</p>
</Slide>
<Slide animate>
	<!-- <h1 style="margin-top: 100px color: red;">Saving Money!</h1> -->
	<p class="text-teal-400">Auto-Animate</p>
</Slide>


<Slide animate>
	<Code id="code" lines>
		{`
			function love() {}
	 `}
	</Code>
</Slide>

<Slide animate>
	<Code id="code" lines="2|1-3">
		{`
			function love() {
				console.log('Svelte')
			}
	 `}
	</Code>
</Slide>

