<script lang="ts">
	import Slides from '$lib/deck/slides.svelte'
	import '../app.pcss'
</script>

<svelte:head>
	<title>Presentation</title>
</svelte:head>

<Slides />


<h1>Welcome to SvelteKit</h1>
<p>Visit <a href="https://kit.svelte.dev">kit.svelte.dev</a> to read the documentation</p>
