---
title: {{ title }}
description: {{ description }}
pubDate: 'Feb 13, 2024'
---

#### **[{{subtitle}}]{style="color: #236fa1;"}**

**Instructor:** {{ instructor }}

**Instructor email:** <{{ instructor_email or lane@totalgood.com }}>

**Course of Record Number (CRN)**: {{ crn or 53133 }}

### Description

{{ course_description_md }}

### Important dates

{{ important_dates_md }}


### Prerequisites

{{ prerequisites_md }}

### Learning objectives and schedule

{% for week_num, summary_skills in schedule.items() -%}
**{{ week_num }}**: {{ summary_skills.summary }}
{% for skill in summary_skills.skills -%}
    * {{ skill }}
{% enfor %}
{% enfor %}

### Grading

{{ grading_md or "Your final grade will be the weighted average of your accumulated scores on reading assignments, quizzes, programming assignments (projects) and
exams." }}

* {{ reading_pct or 15 }}%: {{ reading_rubric or 'Weekly reading assignments in Runestone (1 point per assignment)' }}
* {{ quizzes_pct or 15 }}%: {{ quizzes_rubric or '15 Weekly quizzes in Runestone (1 point per quiz)' }}
* {{ midterm_pct or 15 }}%: Midterm exam in Runestone
* {{ midterm_project_pct['total'] or 15 }}%: Midterm project (programming assignment)
  * {{ midterm_project_pct['syntax'] or 5 }}%: Does the program run without syntax errors
  * {{ midterm_project_pct['requirements'] or 5 }}%: Does the program contain all the required elements of the assignment
  * {{ midterm_project_pct['style'] or 3 }}%: Does the program utilize correct Python style (PEP8)
  * {{ midterm_project_pct['comments'] or 2 }}%: Does the program utilize comments appropriately
* {{ final_exam_pct or 20 }}%: Final exam in Runestone
* {{ final_project_pct['total'] or 20 }}%: Final project (programming assignment)
  * {{ final_project_pct['syntax'] or 7 }}%: Does the program run without syntax errors
  * {{ final_project_pct['requirements'] or 5 }}%: {{ requirements_desc }}
  * {{ final_project_pct['style'] or 5 }}%: {{ style_desc }}
  * {{ final_project_pct['doctests'] or 3 }}%: {{ doctests_desc }}
