<style>
@keyframes fadein0 {
  0% { opacity: 1; }
  1% { opacity: 1; }
  25.0% { opacity: 1; }
  35% { opacity: 0; }
  45% { opacity: 0; }
  55% { opacity: 0; }
  65% { opacity: 0; }
  75% { opacity: 0; }
  99% { opacity: 0; }
  100.0% { opacity: 0; }
}
@keyframes fadein1 {
  0%    { opacity: 0; }
  1%    { opacity: 0; }
  25%   { opacity: 0; }
  35%   { opacity: 1; }
  45%   { opacity: 0; }
  55%   { opacity: 0; }
  65%   { opacity: 0; }
  75%   { opacity: 0; }
  99%   { opacity: 0; }
  100.0% { opacity: 0; }
}
@keyframes fadein2 {
  0%    { opacity: 0; }
  1%    { opacity: 0; }
  25%   { opacity: 0; }
  35%   { opacity: 0; }
  45%   { opacity: 1; }
  55%   { opacity: 0; }
  65%   { opacity: 0; }
  75%   { opacity: 0; }
  99%   { opacity: 0; }
  100.0% { opacity: 0; }
}
@keyframes fadein3 {
  0%    { opacity: 0; }
  1%    { opacity: 0; }
  25%   { opacity: 0; }
  35%   { opacity: 0; }
  45%   { opacity: 0; }
  55%   { opacity: 1; }
  65%   { opacity: 0; }
  75%   { opacity: 0; }
  99%   { opacity: 0; }
  100.0% { opacity: 0; }
}
@keyframes fadein4 {
  0%    { opacity: 0; }
  1%    { opacity: 0; }
  25%   { opacity: 0; }
  35%   { opacity: 0; }
  45%   { opacity: 0; }
  55%   { opacity: 0; }
  65%   { opacity: 1; }
  75%   { opacity: 0; }
  99%   { opacity: 0; }
  100.0% { opacity: 0; }
}
@keyframes fadein5 {
  0%    { opacity: 0; }
  1%    { opacity: 0; }
  25%   { opacity: 0; }
  35%   { opacity: 0; }
  45%   { opacity: 0; }
  55%   { opacity: 0; }
  65%   { opacity: 0; }
  75%   { opacity: 1; }
  99%   { opacity: 1; }
  100.0% { opacity: 1; }
}

/*.classname {*/
/*  animation: name duration timing-function delay iteration-count direction    fill-mode; */
/*  DEFAULTS:       duration ease            0     1               normal(loop) none(resettostartstyle)*/
.frame0 {
  animation: fadein0; 
  animation-fill-mode: forwards;
  animation-duration: 25s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.frame1 { animation: fadein1;
  animation-fill-mode: forwards;
  animation-duration: 25s;
  animation-iteration-count: 1;
  animation-timing-function: ease; }
.frame2 { animation: fadein2;
  animation-fill-mode: forwards;
  animation-duration: 25s;
  animation-iteration-count: 1;
  animation-timing-function: ease; }
.frame3 { animation: fadein3; 
  animation-fill-mode: forwards;
  animation-duration: 25s;
  animation-iteration-count: 1;
  animation-timing-function: ease; }
.frame4 { animation: fadein4; 
  animation-fill-mode: forwards;
  animation-duration: 25s;
  animation-iteration-count: 1;
  animation-timing-function: ease;}
.frame5 { animation: fadein5; 
  animation-fill-mode: forwards;
  animation-duration: 25s;
  animation-iteration-count: 1;
  animation-timing-function: ease;}
</style>

<h3>Overview</h3>
<p>I've been grading your text adventure programs from Module 7 and design documents from Module 6, and I have thought of a better way to explain the <em>decision tree</em> design pattern. A decision tree is&nbsp; implemented in Python with nested <code>if</code> statements.&nbsp; It's a foundational program design pattern that can be applied to almost any problem.&nbsp; And I'll show you some more advanced design patterns that I talked to students about during office hours a week ago.</p>
<h3>Decision Trees</h3>
<p>Here's a decision tree design for the cabin, instruction, and road rooms in the original Colossal Cave Adventure. You saw this diagram in Module 7, but imagine what it would look like if you dragged all those rooms around to turn the tree on its side. Think of the branches of a tree blown over in a hurricane. Can you see the parallel between the fallen tree and your diagram and the nested if/else branches in a Python program?&nbsp;</p>
<h3>"Org chart" vertical decision tree:</h3>
<p><img src="https://sdccd.instructure.com/courses/2475812/files/149832097/preview" alt="design_cave_adventure_0.drawio.png" data-api-endpoint="https://sdccd.instructure.com/api/v1/courses/2475812/files/149832097" data-api-returntype="File" /></p>
<p><img src="https://sdccd.instructure.com/courses/2475812/files/149832103/preview" alt="design_cave_adventure_1.drawio.png" data-api-endpoint="https://sdccd.instructure.com/api/v1/courses/2475812/files/149832103" data-api-returntype="File" /></p>
<p><img src="https://sdccd.instructure.com/courses/2475812/files/149832105/preview" alt="design_cave_adventure_2.drawio.png" data-api-endpoint="https://sdccd.instructure.com/api/v1/courses/2475812/files/149832105" data-api-returntype="File" /></p>
<p><img src="https://sdccd.instructure.com/courses/2475812/files/149832109/preview" alt="design_cave_adventure_3.drawio.png" data-api-endpoint="https://sdccd.instructure.com/api/v1/courses/2475812/files/149832109" data-api-returntype="File" /></p>
<p><img src="https://sdccd.instructure.com/courses/2475812/files/149832209/preview" alt="design_cave_adventure_4-1.drawio.png" data-api-endpoint="https://sdccd.instructure.com/api/v1/courses/2475812/files/149832209" data-api-returntype="File" /></p>
<p><img src="https://sdccd.instructure.com/courses/2475812/files/149832210/preview" alt="design_cave_adventure_5-1.drawio.png" data-api-endpoint="https://sdccd.instructure.com/api/v1/courses/2475812/files/149832210" data-api-returntype="File" /></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3>Horizontal decision tree:</h3>
<div class="container-fader">
    <p><img class="frame0" style="position: absolute;" src="https://sdccd.instructure.com/courses/2475812/files/149832097/preview" alt="design_cave_adventure_0.drawio.png" data-api-endpoint="https://sdccd.instructure.com/api/v1/courses/2475812/files/149832097" data-api-returntype="File" /></p>
    <p><img class="frame1" style="position: absolute;" src="https://sdccd.instructure.com/courses/2475812/files/149832103/preview" alt="design_cave_adventure_1.drawio.png" data-api-endpoint="https://sdccd.instructure.com/api/v1/courses/2475812/files/149832103" data-api-returntype="File" /></p>
    <p><img class="frame2" style="position: absolute;" src="https://sdccd.instructure.com/courses/2475812/files/149832105/preview" alt="design_cave_adventure_2.drawio.png" data-api-endpoint="https://sdccd.instructure.com/api/v1/courses/2475812/files/149832105" data-api-returntype="File" /></p>
    <p><img class="frame3" style="position: absolute;" src="https://sdccd.instructure.com/courses/2475812/files/149832109/preview" alt="design_cave_adventure_3.drawio.png" data-api-endpoint="https://sdccd.instructure.com/api/v1/courses/2475812/files/149832109" data-api-returntype="File" /></p>
    <p><img class="frame4" style="position: absolute;" src="https://sdccd.instructure.com/courses/2475812/files/149832209/preview" alt="design_cave_adventure_4-1.drawio.png" data-api-endpoint="https://sdccd.instructure.com/api/v1/courses/2475812/files/149832209" data-api-returntype="File" /></p>
    <p><img class="frame5" style="position: absolute;" src="https://sdccd.instructure.com/courses/2475812/files/149832210/preview" alt="design_cave_adventure_5-1.drawio.png" data-api-endpoint="https://sdccd.instructure.com/api/v1/courses/2475812/files/149832210" data-api-returntype="File" /></p>
</div>