<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Week</th>
      <th>Due Date</th>
      <th>Runestone</th>
      <th>Points</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>2024-02-04</td>
      <td>Ch 1</td>
      <td>2</td>
      <td>Python programming language, variables and types</td>
    </tr>
    <tr>
      <td>2</td>
      <td>2024-02-11</td>
      <td>Ch 2-3</td>
      <td>2</td>
      <td>Debugging and object oriented programming</td>
    </tr>
    <tr>
      <td>3</td>
      <td>2024-02-18</td>
      <td>Ch 4-5</td>
      <td>2</td>
      <td>Sequences and iteration</td>
    </tr>
    <tr>
      <td>4</td>
      <td>2024-02-25</td>
      <td>Ch 6-7</td>
      <td>2</td>
      <td>Indexing, slicing, combining, and iterating through sequences (`list`, `str`, `tuple`)</td>
    </tr>
    <tr>
      <td>5</td>
      <td>2024-03-03</td>
      <td>Ch 1-7</td>
      <td>15</td>
      <td>MIDTERM EXAM - FOPP Chapters 1 - 7</td>
    </tr>
    <tr>
      <td>6</td>
      <td>2024-03-10</td>
      <td>Ch 8-9</td>
      <td>2</td>
      <td>Conditional expressions and modifying sequences</td>
    </tr>
    <tr>
      <td>7</td>
      <td>2024-03-17</td>
      <td></td>
      <td>15</td>
      <td>MIDTERM PROJECT: Text Adventure!</td>
    </tr>
    <tr>
      <td>8</td>
      <td>2024-03-24</td>
      <td>Ch 10-11</td>
      <td>2</td>
      <td>Files and dictionaries</td>
    </tr>
    <tr>
      <td>9</td>
      <td>2024-03-31</td>
      <td>Ch 14-15</td>
      <td>2</td>
      <td>Advanced iteration patterns and functions</td>
    </tr>
    <tr>
      <td>10</td>
      <td>2024-04-07</td>
      <td>Ch 16-17</td>
      <td>2</td>
      <td>Sorting and nestings sequences (`lists`)</td>
    </tr>
    <tr>
      <td>11</td>
      <td>2024-04-14</td>
      <td>Ch 18-19</td>
      <td>2</td>
      <td>Documenting and testing a Python program</td>
    </tr>
    <tr>
      <td>12</td>
      <td>2024-04-21</td>
      <td>Ch 20-21</td>
      <td>2</td>
      <td>Designing an object-oriented (OO) Python program</td>
    </tr>
    <tr>
      <td>13</td>
      <td>2024-04-28</td>
      <td></td>
      <td>20</td>
      <td>FINAL EXAM</td>
    </tr>
    <tr>
      <td>14</td>
      <td>2024-05-05</td>
      <td></td>
      <td>2</td>
      <td>Installing and using external Python packages (`pandas` and `doctest`)</td>
    </tr>
    <tr>
      <td>15</td>
      <td>2024-05-12</td>
      <td></td>
      <td>2</td>
      <td>Data-driven program design</td>
    </tr>
    <tr>
      <td>16</td>
      <td>2024-05-19</td>
      <td></td>
      <td>20</td>
      <td>FINAL PROJECT: A data-driven application.</td>
    </tr>
  </tbody>
</table>