---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
<h4><span style="color: #236fa1;"><strong>Computer and Information Sciences (CISC) 179 - Intro to Python Programming</strong></span></h4>
<p><strong>Instructor: </strong>Hobson Lane</p>
<p><strong>Instructor email: </strong><a href="mailto:lane@totalgood.com" target="_blank" rel="noopener">lane@totalgood.com</a></p>
<p><strong>Course of Record Number (CRN)</strong>: 53133</p>
<h3>Description</h3>
<p>This is an introductory course in Python programming, incorporating the fundamentals of object oriented software and user interface design. You will learn how to program a computer such that it can read from input devices (keyboard and files), write to output devices (console and files).</p>
<p>You will learn how to:</p>
<ul class="incremental">
    <li>Analyze user needs and requirements</li>
    <li>Design a user interface for a Python application</li>
    <li>Create classes with attributes and methods for implementing your program</li>
    <li>Write software for event procedures and business logic</li>
    <li>Test and debug the completed programs and applications</li>
    <li>Document your program for users and developers using Python &ldquo;doctests&rdquo;</li>
</ul>
<p>This course is intended for Computer and Information Sciences majors or anyone interested in the Python programming language.</p>
<h3 id="important-dates">Important dates</h3>
<ul class="incremental">
    <li>01/29/2024 - Start of Spring Semester</li>
    <li><strong><span style="color: #ba372a;">02/09/2024 (Friday) - Drop deadline</span> </strong>(drop class with full refund and no &ldquo;W&rdquo; on transcript)</li>
    <li>02/16/2024 - 02/19/2024 - Lincoln/Washington Day (CAMPUS CLOSED)</li>
    <li>03/25/2024 - 03/29/2024 - (SPRING BREAK)</li>
    <li>03/29/2024 - Cesar Chavez Day (CAMPUS CLOSED)</li>
    <li>04/12/2024 - Withdrawal Deadline (Primary 16-Wk Session)</li>
    <li>04/30/2024 - Deadline to Apply for Graduation</li>
    <li>05/25/2024 - End of Spring Semester</li>
</ul>
<h3>Prerequisites</h3>
<p>&nbsp; &nbsp; &bull; &nbsp;High School Algebra</p>
<p>&nbsp;</p>
<h3>Learning objectives and schedule</h3>
<p>Week 1. Python programming language, &nbsp;variables and types</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; Sign into Runestone.Academy, read a chapter, and run code examples in the browser.</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; FOPP-1: Edit and run Python expressions and programs from the command line</p>
<p>Week 2. Debugging and object oriented programming</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; FOPP-2: Set and examine variable values and understand basic types (`str`, `float`, and `int` )</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; FOPP-3: Error types, error messages, finding and correcting logic and syntax errors.</p>
<p>Week 3. &nbsp;Sequences and iteration</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; FOPP-4: Import and use modules, namespaces, and object methods.</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; FOPP-5: : Use the Python `turtle` module to visualize program control flow in for loops.&nbsp; &nbsp;</p>
<p>Week 4.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Project: Install and use a text editor (SublimeText) or IDE (PyCharm) to edit Python programs</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; FOPP-6: Indexing, slicing, and combining lists and strings (`list`, `str`, `[start:stop]`)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; FOPP-7: Iterating through sequences with `for` and `while` loops</p>
<p>Week 5. &nbsp;Conditional expressions and modifying sequences</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; Project: Create a single-turn text adventure game using `input()`, `print()`, `if`, `else`.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Project: Run a Python program (*.py) file from command line.</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; FOPP-8: Use conditional expressions (`if`, `else`) to control program flow</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; FOPP-9: Modifying sequences and the accumulator pattern</p>
<p>Week 6. &nbsp;Files and dictionaries</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; Project: Create a text adventure game with 5+ turns using hard coding.</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; FOPP-10: Reading and writing files (`open`, `read`, and `write`)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; FOPP-11: Dictionaries (nested `dict` containers)</p>
<p>Week 7. &nbsp;Functions and tuples</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; FOPP-12: Functions &nbsp;(`def`)</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; FOPP-13: Tuples (`tuple()`)</p>
<p>&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; MIDTERM EXAM</p>
<p>Week 8. &nbsp;Midterm project - Build a text adventure game</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; Define container variables (`list`, `tuple`, `dict`) with game content (`str`, `int`)&nbsp;<br />&nbsp; &nbsp; &nbsp; &nbsp; Use `input` and `output` to interact with the user through the console (terminal)<br />&nbsp; &nbsp; &nbsp; &nbsp; Use conditionals and looping to handle invalid user input (`while` and/or `for)</p>
<p>Week 9. &nbsp;Advanced iteration patterns and functions</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; FOPP-14: Advanced iteration</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; FOPP-15: Advanced functions and `kwargs`</p>
<p>Week 10. &nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; FOPP-16: Sorting sequences</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; FOPP-17: Nested data</p>
<p>Week 11. &nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; FOPP-18: Test cases</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; FOPP-19: Exceptions (`try` and `except`)</p>
<p>Week 12. &nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; FOPP-20: &nbsp;Classes and objects</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; FOPP-21: Building Programs</p>
<p>Week 13. FINAL EXAM</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Designing, building, testing and debugging Python programs from scratch.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Understanding nested data structures and flat file formats for data-driven Python programs</p>
<p>Week 14. Installing and using external Python packages (`pandas` and `doctest`)</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Pandas Python package for reading and writing HTML and CSV tables.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Project: Move content from hard-coded Python variable definitions to a Spreadsheet</p>
<p>Week 15.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Final Project: Load text-adventure game (or chatbot) content from CSV.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Final Project: Use functions, loops, and text files (CSV) to create data-driven Python programs</p>
<h3>Grading</h3>
<p>Your final grade will be the weighted average of you accumulated scores on reading assignments, quizzes, programming assignments (labs) and exams.</p>
<p>15%: 15 Weekly reading assignments in Runestone (1 point per assignment)<br />15%: 15 Weekly quizzes in Runestone (1 point per quiz)<br />15%: Midterm exam in Runestone<br />15%: Midterm project (programming assignment)<br />&nbsp; &nbsp; &nbsp; 5%: Does the program run without syntax errors<br />&nbsp; &nbsp; &nbsp; 5%: Does the program contain all the required elements of the assignment<br />&nbsp; &nbsp; &nbsp; 3%: Does the program utilize correct Python style (PEP8)<br />&nbsp; &nbsp; &nbsp; 2%: Does the program utilize comments appropriately<br />20%: Final exam in Runestone<br />20%: Final project (programming assignment)<br />&nbsp; &nbsp; &nbsp; 5%: Does the program run without syntax errors<br />&nbsp; &nbsp; &nbsp; 5%: Does the program contain all the required elements of the assignment<br />&nbsp; &nbsp; &nbsp; 5%: Does the program utilize correct Python style (PEP8)<br />&nbsp; &nbsp; &nbsp; 3%: Does the program utilize doctests and docstrings appropriately<br /><br /></p>
		</main>
		<Footer />
	</body>
</html>
