---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Orientation"
	description="Welcome to the Mesa College CISC 179 Intro to Python course"
	pubDate={new Date('Jan 20, 2024')}
>

<hr style="border: 0; border-top: 5px double #000000;" />
<h2><span style="color: #169179;">Slides!</span></h2>
<p>Slides for Module 0!</p>
<p>Please note the syllabus and send me a message via the Canvas Inbox or my email at <strong>[Insert email address]</strong> if you have any questions that aren't covered in this section.</p>
<h2><span style="color: #169179;">What You Will Learn</span></h2>
<p>By the end of this module, you will be able to:</p>
<ul>
    <li><strong>[Insert Learning Outcome 1]</strong></li>
    <li><strong>[Insert Learning Outcome 2]</strong></li>
</ul>
<h2><span style="color: #169179;">What You Will Do</span></h2>
<p>To demonstrate your learning, you will complete the following activities:</p>
<ol>
    <li>Read the module pages introducing our learning environment</li>
    <li>Introduce yourself and engage with classmates in a discussion</li>
    <li>Read the module pages explaining our course guidelines and policies</li>
    <li>Review the module pages describing various resources available to support your learning</li>
    <li>Submit a self-check quiz</li>
</ol>

</Layout>
